[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=vitominheere

WorkingDirectory=/home/vitominheere/sites/DOMAIN

EnvironmentFile=/home/vitominheere/sites/DOMAIN/.env

ExecStart=/home/vitominheere/sites/DOMAIN/virtualenv/bin/gunicorn \
    --bind unix:/tmp/DOMAIN.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target
